[user]
	email = i.punko@pixelplex.io
	name = Ilya Punko
	safecrlf = false
[core]
	autocrlf = input
	safecrlf = false
[alias]
	l = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count 25
	a = add -A
	f = fetch origin
	ch = checkout
	chb = checkout -b
	c = commit -m
	ca = commit --amend
	s = stash
	sa = stash apply
	pl = pull origin 
	p = push origin
	d = diff head
	ds = diff head --shortstat
	ds1 = diff head~1 --shortstat
	d1 = diff head~1
	b = branch
	bd = branch -D
	m = merge
[difftool]
    prompt = true
[diff]
    tool = nvim
